# here we list all files that we want to ignore tracking it

# ignoring all text files
*.txt

# ignoring all docs files
*.docx

# ignoring all data directory content
data/*

# ignoring node_modules directory
layout/node_modules/*

# ignoring plugins directory
layout/plugins/*

# ignoring sql directory
sql/*

# ignoring local configration directory
etc/local-conf.php

# ignoring sys_tree/user/_backup directory
src/sys_tree/user/_backup/*