# ignoring all text files
*.txt

# ignore wala yhmk
wla_yhmk/

# ignoring all docs files
docs/

# ignoring all data directory content
data*/

# ignoring node_modules directory
layout/node_modules/

# ignoring plugins directory
layout/plugins/

# ignoring local configration file
etc/local-conf.php
etc/server-conf.php

# ignoring Database class
Database.class.php

# ignore libraries
includes/libraries/