/* START GLOBAL STYLE */
:root {
  --main-color: #4a13d6;
  --main-color-alt: #12a4ca;
  --main-transition-duration: 0.3s;
  --main-padding: 100px;
  --section-color: #ececec;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #e1e1e1;
  z-index: 999999;
}

.preloader>.spinner-grow,
.preloader>.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.preloader>.spinner-grow {
  background: #0d6efd;
}

.preloader>.spinner-border {
  border: 0.25em solid transparent;
  border-right-color: #0d6efd;
}

.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 24px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}

.main-title:hover {
  color: #fff;
  border: 2px solid #fff;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.logo-desc {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  color: #f00;
}

/* END GLOBAL STYLE */

/* START HEADER */
.navbar {
  box-shadow: 2px 2px 8px #000;
}

.navbar.fixed-top {
  right: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 16px;
  }
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--main-color);
}

/* END HEADER */

/* START PAGE CONTAINER */
.page-container {
  margin: 3rem auto;
}


/* END PAGE CONTAINER */

/* START DASHBOARD CONTENT */
.dashboard-content,
.dashboard-buttons {
  margin: 2rem auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 40px 20px;
}

/* END DASHBOARD CONTENT */

/* START FORM CONTENT */
.form-header {
  position: relative;
  margin: 1rem auto 3rem;
}

.form-header .h3 {
  margin: auto 15px;
  position: relative;
  width: fit-content;
  font-weight: 600;
}

.form-header .h3::before,
.form-header .h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  width: 10px;
  height: 10px;
  background: #4a13d6;
}

.form-header .h3::after {
  right: unset;
  left: -15px;
}

.form-content,
.section-content-phones {
  margin: 1rem auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}

.section-content-phones {
  margin-top: 2rem;
}

@media (max-width: 768px) {

  .form-content,
  .section-content-phones {
    grid-template-columns: 1fr;
  }
}

.form-content.form-content__content:not(.form-edit) {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.form-content.form-content__content:not(.form-edit)>:last-child {
  margin-right: auto;
  grid-column: 2/3;
  width: fit-content;
}

.content-header,
.content-status,
.content-link {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
  gap: 20px;
  justify-content: flex-start;
  align-items: baseline;
  grid-column: 1/3;
}

.content-link {
  grid-template-columns: 15% 15% 60%;
  justify-content: space-between;
}

/* END FORM CONTENT */

/* START FOOTER */
.footer {
  padding: 70px 0 0;
  background-color: #191919;
  direction: ltr;
}

.footer .container {
  margin-top: var(--main-padding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.footer .box h3 {
  color: white;
  font-size: 2rem;
  margin: 0 0 20px;
  font-weight: bold;
}

.footer .box .social {
  display: flex;
}

.footer .box .social li:not(:first-child) {
  margin-left: 10px;
}

.footer .box .social li a {
  color: #b9b9b9;
  background-color: #313131;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.footer .box .social .facebook:hover {
  background-color: #004982;
}

.footer .box .social .instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.footer .box .social .linkedin:hover {
  background-color: #0a66c2;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition-duration);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li a {
  color: #b9b9b9
}

.footer .box .links li a::before {
  font-family: bootstrap-icons !important;
  content: "\F280";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
  font-size: 12px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .copyright {
  padding: 25px 10px;
  margin: 50px 0 0;
  text-align: center;
  color: white;
  border-top: 1px solid #222;
}

/* END FOOTER */